---
import Header from '../components/Header.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="shortcut icon" href="logo.png" type="image/x-icon" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>Dipshan Adhikari | Full-stack JavaScript Developer</title>

		<link rel="preconnect" href="https://fonts.googleapis.com" /><link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body class="bg-[#fcfcfc]">
		<Header />
	</body>
</html>
