<header class="fixed top-0 left-0 right-0 z-20 uppercase shadow-md">
	<nav class="max-w-screen-lg mx-auto p-2 flex justify-between items-center">
		<a href="/" class="font-semibold text-3xl">
			<img src="logo.png" alt="logo" width="75px" height="75px" />
		</a>

		<ul class="flex gap-12 font-medium font-[montserrat]">
			<li
				class="hover:text-[#39b98d] transition transition-ease duratoin-500"
			>
				<a href="#home">home</a>
			</li>
			<li
				class="hover:text-[#39b98d] transition transition-ease duratoin-500"
			>
				<a href="#services">services</a>
			</li>
			<li
				class="hover:text-[#39b98d] transition transition-ease duratoin-500"
			>
				<a href="#projects">projects</a>
			</li>
			<li
				class="hover:text-[#39b98d] transition transition-ease duratoin-500"
			>
				<a href="#works">works</a>
			</li>
			<li
				class="hover:text-[#39b98d] transition transition-ease duratoin-500"
			>
				<a href="#timeline">timeline</a>
			</li>
			<li
				class="hover:text-[#39b98d] transition transition-ease duratoin-500"
			>
				<a href="#contact">contact</a>
			</li>
		</ul>
	</nav>
</header>
