---
import NavLink from './NavLink.astro'
---

<header class="absolute top-0 left-0 w-full uppercase">
	<nav
		class="max-w-screen-lg mx-auto flex justify-between items-center border-green border-b p-4"
	>
		<a href="/" class="font-semibold text-3xl">
			<img src="/logo.png" alt="logo" width="75px" height="75px" />
		</a>

		<ul class="flex gap-8 font-mediumtext-[15px]">
			<NavLink value="services" />
			<NavLink value="projects" />
			<NavLink value="works" />
			<NavLink value="contact" />
		</ul>
	</nav>
</header>
