<div class="my-auto w-full">
	<div class="max-w-screen-lg mx-auto grid grid-cols-2 items-center p-4">
		<div class="text-gray">
			<p class="text-lg font-medium">Hello there!</p>
			<h1 class="text-4xl font-bold leading-loose">
				I am <span class="text-green">Dipshan Adhikari</span>
			</h1>
			<p class="capitalize text-2xl">full stack web developer</p>
			<a href="#contact">
				<button
					class="rounded px-8 py-2.5 bg-green capitalize text-white font-medium mt-4 hover:shadow-lg transition transition-ease duration-300"
					>contact me</button
				></a
			>
		</div>
		<div class="grid place-items-center">
			<img
				src="dipshan.png"
				alt="dipshan adhikari"
				class="rounded"
				width="350px"
				style="box-shadow: 20px 20px #39b98d;"
			/>
		</div>
	</div>
</div>
